.main{
    width: 100%;
    background-color: rgb(223, 228, 210);
    padding: 10px;
    color: darkgray;
}
.section1{
    width: 10%;
    background-color: crimson;
    padding: 20px;
    cursor: pointer;
}
.list{
    list-style-type:square;
}
.table{
    border-width: 1px;;	
    border-style: solid;	
    border-color:rgb(27, 153, 105);
    border-top: 5px solid red;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    border-radius: 10%;
}
.section2{
    width: 100%;
    background-color: rgb(145, 47, 66);
    padding: 20px;

}
.section3{
    height:100px;
    width: 95%;
    background-color: rgb(109, 44, 57);
    padding: 20px;
    overflow: scroll;
}
.section4{
    width: 100%;
    background-color: rgb(71, 32, 40);
    padding: 20px;
    visibility: visible;
}
.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #000000;

}
.button:hover,
.button:focus {
  color: #000000;
  border-color: currentColor;
  background-color: white;
}

  