.rent {
    margin-top: 136px;
    color: #343434;
    &__wrapper {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    &__text {
        width: 350px;
        min-height: 175px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
    }
    &__block {
        width: 665px;
        border: 3px solid #005BC1;
        &-header {
            display: flex;
            align-items: center;
            margin: 30px 30px 0 30px;
            div {
                font-family: 'Oswald', sans-serif;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }
        &-main {
            display: flex;
            margin-top: 29px;
            margin-left: 30px;
            img {
                margin-right: 30px;
            }
            &_text {
                h2 {
                    font-family: 'Oswald', sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                }
                ul { 
                    margin-top: 30px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 19px;
                    margin-left:20px;
                    li{
                        margin-bottom: 20px;
                        &:nth-child(4) {
                            margin-bottom: 0;
                        }
                    }
                }
            }

        }
    }
    
}