.container{
    width: 1400px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 110px;
    background-color: #000;
}
.logo{
    color: #fff;
    font-size: 30px;
    line-height: 31px;
}
.logo.big{
    font-size: 60px;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 32px;
}
.logo__right{
    color: #EC7979;
}
.navigation-nav{
    font-family: 'Raleway', sans-serif;
    color:#fff;

}
.navigation-nav a{
    text-decoration: none;
    color:#fff;
    margin-right: 48px;
    transition: color 0.2s;

}
.navigation-nav a:last-child{
    margin-right: 0;
}
.navigation-nav a:hover{
    color: #EC7979;
}
.header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/background.png);
    background-size: cover;
    padding: 110px;
}
.header-text{
    flex: 0  0 50%;
  
}
.header-text_one{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 32px;
}
.header-hr{
    width: 64px;
    height: 1px;
    background:#fff;
}
.header-text_two{
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 19px;
    padding-top: 39px; 
    padding-bottom: 39px;  
}
.header-text__button{
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
}
.header-text__button:hover{
    background-color:#EC7979;
}
.header-form{
    width: 370px;
    background-color:#fff;
    border-radius: 8px; 
    position: relative;
}
.header-form__title{
    text-align: center;
    padding:15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.textred{
    color: #EC7979;
}
.header-form__content{
    display: flex;
    flex-direction: column ;
    padding:44px 59px;
}
.header-form__content input{
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    border-left: none;
    border-top: none ;
    border-right: none;
    padding: 16px 0;
}
.header-form button{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    border: none;
    background: #EC7979;
    color: #fff;
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
}
.social{
    display: flex;
    padding: 0 111px;
    background-color: #F8EFEF;
}
.social-text{
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 17px;
    padding-right: 129px;
}
.social-text__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #333333;
    padding-bottom: 14px;
}
.social-text__subtitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 365px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #86878B;
}
.social-logo{
    display: flex;
    justify-content: center;
    padding: 34px 0px;
}
.social-logo ul{
    display: flex;
    justify-content: space-around;
    width: 684px;
    height: 42px;
    
}
.social-logo ul>li{
    font-size: 42px;  
}
.social-logo a{
    color: #cccccc;
}
.features{
    margin: 125px 0;
    width: 100%;
    background-color: #fff;
    display: flex;
}
.features-block{
    display: flex;
    flex-direction: column;
    margin-left: 111px;
}
.features-block__frame{
    width: 112px;
    height: 110px;
    left: 111px;
    top: 245px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
    border-radius: 4px; 
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.features-block__frame:last-child{
    margin-bottom: 0;
}
.features-block__frame:hover{
    background-color: #EC7979;
}
.features-text{
    display: flex;
    flex-direction: column;
    margin-left: 118px;
}
.features-text__button{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-color: #EC7979;
    color: #FFFFFF;
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: auto;
}
.features-text__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
}
.features-text__subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    margin-top: 58px;
    text-transform: uppercase;
    color: #86878B;
}
.margine-p{
    margin-top: 2em;
}
.features-img{
    margin-left: 50px;
    margin-right: 118px;
}
.ourprocess{
    margin-top: 205px;
    margin-bottom: 116px;
}
.ourprocess-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.title{
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    color: #212121;
}
.divider{
    width: 64px;
    height: 2px;
    background-color: #e72424;
    margin: 25px 0;
}
.text{
    color: #86878b;
    font-size: 14px;
    line-height: 19px;
}
.ourprocess-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.ourprocess-content__feature{
    width: 350px;
    margin: 67px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourprocess-content__feature_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #e72424;
    border-radius: 50%;
}
.ourprocess-content__feature_title{
    margin-top: 10px;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    font-weight: bold;
}
.ourprocess-content__feature_text{
    margin-top: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    text-align: center;
}
.pricing{
    background: #F5F5F5;
}
.pricing-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
}
.pricing-content{
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    margin-left: 113px;
    padding-bottom: 60px;
}
.pricing-content__block{
    margin-right: 78px;
}
.pricing-content__block:last-child{
    margin-right: 0;
}
.pricing-content__block__basic{
    width: 340px;
    height: 50px;
    left: 113px;
    top: 273px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    background: #333333;
    border-bottom: 2px solid #F5F5F5;
}
.pricing-content__block__dollar{
    width: 340px;
    height: 100px;
    left: 113px;
    top: 324px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    background: #333333;
    border-bottom: 2px solid #F5F5F5;
}
.pricing-content__block__text{
    width: 340px;
    height: 50px;
    left: 113px;
    top: 426px;
    background: #333333;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid #F5F5F5;
}
.pricing-content__block__space{
    width: 340px;
    height: 40px;
    left: 113px;
    top: 480px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #86878B;
    background: #FFFFFF;
    border-bottom: 2px solid #F5F5F5;
}
.pricing-content__block__space:last-child{
    border-bottom:0;
}
.testimonials-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
}
.testimonials-content{
    display: flex;
    flex-direction: row;
    padding-top: 67px;
    margin-left: 157px;
}
.testimonials-content__info{
   margin-right: 112px; 
}
.testimonials-content__info:last-child{
    margin-right: 0;
}
.testimonials-content__info-title{
    width: 298px;
    height: 110px;
    left: 157px;
    top: 278px;
    background: #E2E2E2;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.avatar{
    float: left;
    padding-top: 22px;
    padding-left: 30px;
    margin-bottom: 119px;
}
.avatar-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}
.name{
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 12px;
    color: #333333;
}
.post{
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}
.content__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 76px 0 38px 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/backgroundtwo.png);
    background-size: cover;
    color: #ffffff;
    flex-grow: 1;
}
.content__image__title {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
}
.content__image__divider {
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    margin: 25px 0;
}
.content__image__text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 19px;
}
.content__image__button {
    margin-top: 30px;
    color: #ffffff;
    text-decoration: none;
    padding: 11px 26px;
    border: 1px solid #ffffff;
    font-size: 15px;
    line-height: 20px;
}
.content__image__button:hover{
    background-color:#EC7979;
}
.contact-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
}
.contact-data{
    display: flex;
}
.contact-data__data{
    display: flex;
    flex-direction: column;
    padding-bottom: 68.8px;
}
.contact-data__data input{
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    width: 478.01px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    border-left: none;
    border-top: none ;
    border-right: none;
    margin-left: 111px;
    padding: 32px 0;
}
.contact-data__data input:first-child{
    padding-top: 0;
    margin-top:91px;
}
.contact-data__data input:last-child{
    padding-bottom: 55px;
}
.contact-data__message{
    padding-bottom: 68.8px;  
}
.contact-data__message input{
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    width: 478.01px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    border-left: none;
    border-top: none ;
    border-right: none;
    margin-left: 222px;
    margin-top:95px;
    padding-bottom: 216px;
}
.contact-button{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-color: #EC7979;
    color: #FFFFFF;
    width: 166px;
    height: 42px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: auto;
    margin-left: 617px;
    margin-bottom: 44px;
}
.footer{
    text-align: center;
    padding-top: 30px;
    background-color: #000000;
    font-size: 12px;
    line-height: 16px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    padding-bottom: 18px;
}
.footer-logo ul{
    display: flex;
    justify-content: space-around;
    width: 317px;
    height: 23px;
    font-size: 23px;
}
.footer-logo a{
    color: #cccccc;
}
.footer-copy{
    display: flex;
    justify-content: center;
    height: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
}